

.menu {
    float: left;
    /* width: 15%; */
    height: 100%;
    padding-left: 4px;
    padding-right: 5px;
    border-right: 4px solid black;
    display: table-cell;
  }

.mainContent {
  display: table-cell;
  height:100%;
}

.a-body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: table;
    padding: 0;
    width: 100%;
}

.footer{
  vertical-align: bottom;
  min-width: 100%;
}
.fullwidth{
  min-width: 100%;
}
